body {
    background-color: red;
    }

.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#colors {
    background-color: yellow;
    
}

#colors:hover {
    background-color: initial;
    transition: background-color 3s ease-in 2s; 

}

#box1 {
    background-color: inherit;
    transition: width 2s; 
}

#box1:hover {
    width: 300px; 
}

#box2 {
    background-color: blue;
    transition: height 2s; 
}

#box2:hover {
    height: 300px; 
}

